<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width"/>
    <title>Mi primer documento en HTML</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css"> 
  <body>
    <article class="contenedor01">
      <h2>Lorem ipsum dolor sit </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, debitis nemo ratione laboriosam expedita distinctio in ipsum odit asperiores. Rerum fugit facilis sunt quo dolore vel, iusto vitae debitis dicta quod blanditiis, maiores dolores, modi quidem totam tempore perspiciatis facere voluptates repellat! Excepturi, delectus unde? Et tempore dolore, perspiciatis possimus alias quibusdam nesciunt eius aperiam beatae nobis adipisci accusantium quos?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam harum dolorem esse exercitationem officiis tempore, incidunt quod dignissimos ad, sit, labore repellat! Tenetur quo excepturi, alias deserunt pariatur reiciendis tempora nam earum qui amet delectus adipisci. Eaque, quidem cum. Sed distinctio fugiat mollitia amet. Aspernatur, perferendis magnam hic, sint amet quia harum itaque qui modi eius minus. Incidunt, quod magni.</p>
      <article class="contenedor02">
        soy el contenedor 02
      </article>

    </article>
    <article class="contenedor02">
      <h2>Lorem ipsum dolor sit </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, debitis nemo ratione laboriosam expedita distinctio in ipsum odit asperiores. Rerum fugit facilis sunt quo dolore vel, iusto vitae debitis dicta quod blanditiis, maiores dolores, modi quidem totam tempore perspiciatis facere voluptates repellat! Excepturi, delectus unde? Et tempore dolore, perspiciatis possimus alias quibusdam nesciunt eius aperiam beatae nobis adipisci accusantium quos?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam harum dolorem esse exercitationem officiis tempore, incidunt quod dignissimos ad, sit, labore repellat! Tenetur quo excepturi, alias deserunt pariatur reiciendis tempora nam earum qui amet delectus adipisci. Eaque, quidem cum. Sed distinctio fugiat mollitia amet. Aspernatur, perferendis magnam hic, sint amet quia harum itaque qui modi eius minus. Incidunt, quod magni.</p>
      <article class="contenedor01">
        soy el contenedor 01
      </article>

    </article>
   
      
   
   
  </body>
</html>
