<!--En views creamos home.html, para completar de mnanera automatica la estructuras de un doc html utlizamos el signo de admiracion (!) -->
<!DOCTYPE html> <!--la etiqueta "DOCTYPE" define que estamos utilizando la version 5 del lenguaje, la ultima -->
<html lang="es"> <!--la etiqueta html anida las demas etiquetas, indica al navegador que lo que tiene dentro es contenido html -->
  <head> <!--la etiqueta head nos indica todas las caracteristicas informativas referentes al documento como por ejemplo-->
    <meta charset="UTF-8" /> <!--la codificacion de caracteres-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi primer documento en HTML</title> <!--genera el titulo que se ve en la pestaña del navegador-->
  </head>
  <body> <!--la etiqueta body contendra todo lo que queremos que se vea  o se meuestre en el navegador-->
    <h4>Soy un h4</h4> <!--subtitulo de menor jerarquia al h1-->

    <h1>El título de nuestro documento</h1> <!--las etiquetas h1 hasta la h6 son los titulos y subtitulos que tendra -->

    <h2>Un subtitulo cualquiera</h2> <!--subtitulo-->

    <img src="/images/leia.jpg" alt=""> <!--la etiqueta img nos permite insertar una imagen, en el atributo src (source) es donde voy  -->
    <!--a poner la ruta de ubicacion de la imagen, ya definida y sabiendo que express contiene la informacion sobre la carpeta publica de -->
    <!--recursos estaticos, basta con poner una barra "/" e indique en qué subcarpeta de la carpeta public se encuentra la imagen a la   -->
    <!-- que quiero acceder "/images/leia.jpg" -->

    <p> <!--la etiqueta p sirve para generar parrafos-->
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur esse
      ad laboriosam eum cupiditate commodi dolores a, perspiciatis quis
      explicabo ipsam nobis, omnis deserunt obcaecati, labore quasi quibusdam
      harum beatae.
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel molestias
      officia tempora aperiam possimus expedita dolore excepturi quisquam eum
      similique, debitis ullam reprehenderit consequatur facilis laborum quo,
      quasi laboriosam molestiae?
    </p>

    <ol> <!--la etiqueta ol sirve para generar listas ordenadas-->
      <li>Item 1</li> <!--la etiqueta list items-->
      <li>Item 2</li>
      <li>Item 3</li>
    </ol>

    <ul> <!--la etiqueta ul sive para generar listas sin jerarquias-->
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>

    <a href="https://wwww.google.com">Ir a Google</a> <!--la etiqueta a genera enlaces x ejemplo a google  seria un enlace externo que nos llevara direct a google-->

  </body>
</html>
